//-
   Created by shen on 2016/5/26.

div(class="ui attached menu vh-main-header")
    div.ui.container
        a.item.vh-main-header-monitor-stream(href="monitor_stream.html")
            |流状态监控
        a.item.vh-main-header-monitor-error-stat(href="monitor_error_stat.html")
            |错误统计
        a.item.vh-main-header-monitor-log-search(href="monitor_log_search.html")
            |日志查询
        a.item.vh-main-header-monitor-log-search(href="monitor_duplicate_stream.html")
            |重复推流列表
