//
   Created by shen on 2016/6/12.

extends _main

block title
    title 流媒体服务实时监控系统 - 错误统计

//- 引入 模态对话框
include _modal

block css
    link(rel="stylesheet", type="text/css", property='stylesheet', href="semantic/semantic.min.css")
    link(rel="stylesheet", type="text/css", property='stylesheet', href="css/common.css")
    link(rel="stylesheet", type="text/css", property='stylesheet', href="css/monitor.css")

block content
    div.ui.main.container.raised.segment#container.vh-container
        h2(class="ui header")
            i(class="bar chart icon")
            div(class="content") 错误统计

        div.ui.vertically.divided.grid
            div.one.column.row
                div.column
                    div.vh-error-stat-overview
            div.one.column.row
                h3.ui.header.vh-error-stat-header-pie.center.aligned(style="margin:0 auto;")
            div.seven.column.row.divided
                div.column
                    h5.ui.header(data-module='20') 第三方
                    div.vh-error-stat-modules-20
                div.column
                    h5.ui.header(data-module='1') 助手
                    div.vh-error-stat-modules-1
                div.column
                    h5.ui.header(data-module='2') srs
                    div.vh-error-stat-modules-2
                div.column
                    h5.ui.header(data-module='11') srs分发
                    div.vh-error-stat-modules-11
                div.column
                    h5.ui.header(data-module='12') 切片
                    div.vh-error-stat-modules-12
                div.column
                    h5.ui.header(data-module='13') 同步
                    div.vh-error-stat-modules-13
                div.column
                    h5.ui.header(data-module='14') 回放
                    div.vh-error-stat-modules-14

            div.one.column.row
                div.column
                    h3.ui.header.vh-error-stat-header-col.center.aligned(style="margin:0 auto;")
                    div.vh-error-stat-host

    +modal('vh-modal-log_search fullscreen long', '日志查询', true, false, true)
        include _embed

    script(src="scripts/3rd/require.js",defer="defer",async="async",data-main="scripts/monitor_error_stat")
